@using AuroraBricksIntex.Infrastructure

@*
   Detail page of individual lego set - need to pass product key to dynamically display item
*@
@{
}

@model RelatedProductsViewModel

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        @foreach (var product in Model.Products)
        {
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@product.ImgLink" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">@product.Name</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through"></span>
                        <span>$@product.Price</span>
                    </div>
                        @{
                            // Razor code to modify the product description
                            int maxDescriptionLength = 350; // Maximum length of the description
                            string truncatedDescription = product.Description.Length > maxDescriptionLength
                                ? product.Description.Substring(0, maxDescriptionLength) + "..." // Truncate and add ellipsis if needed
                                : product.Description;
                        }
                        <p class="lead">@truncatedDescription</p>
@*                         <p class="lead truncated-description" data-full-description="@product.Description">@truncatedDescription</p>
 *@
@*                         <!-- Tooltip/popover element -->
                        <div class="description-tooltip">
                            <span class="full-description"></span>
                        </div> *@

                    <div class="d-flex">
                        <form id=@product.ProductId method="post" asp-page="/Cart">
                        <!--Add To Cart-->
                            <input type="hidden" asp-for="ProductId" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-sm">
                                        <img src="~/images/AddToCartLight.png" width="100px" />
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<!-- Related Product Section-->

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">You might also like</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (Product p in Model.Products)
            {
                <partial name="ProductSummary" model="p" />
            }
        </div>
    </div>
</section>