@page
@model AuroraBricksIntex.Pages.CartModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuildWithAuroraBricks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuroraBricksIntex.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib//font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Home.png" width="75px" />
                </a>
                @*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                *@                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                          aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <!--Dynamic Navbar when Authenticated in-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserList">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductList">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderList">Orders</a>
                            </li>
                        }
                    </ul>
                    <!--Login / Register-->
                    <partial name="_LoginPartial" />
                    <!--View Cart-->
                    <a asp-page="/Cart">
                        <img src="~/images/ViewCart.png" width="50px" />
                    </a>
                </div>

            </div>

        </nav>
    </header>
    <h2>Your cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Quantity</th>
                <th class="text-right">Amount</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
            {
                <tr>
                    <td class="text-left">@l.Product.Name</td>
                    <td class="text-center">@l.Quantity</td>
                    <td class="text-right">@l.Product.Price</td>
                    <td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
                    <td class="text-center">
                        <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Remove
                            </button>
                        </form>
                    </td>

                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
            </tr>
        </tfoot>


    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    </div>
    <br />
<form method="post" asp-page-handler="Checkout">
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </div>
</form>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 | AuroraBricks | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
@*     @section Scripts {
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
    } *@
 
</body>
